<div fxLayout="column" style="height: 100%;">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-button routerLink="" style="height: 100%">
                <span class="logo">Byte Training</span>
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">home
                </mat-icon>
            </button>
            <button *ngIf="!deviceXs" mat-button routerLink="/users" style="height: 100%">{{ 'principal.texto' | translate }}</button>
            <span class="example-spacer"></span>
            <div *ngIf="!deviceXs" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon style="transform: scale(1.3);" class="example-icon" aria-hidden="false" aria-label="Example user verified icon">language</mat-icon>
                <button mat-button (click)="cambiarLenguaje('en')" [ngStyle]="{'color': activeLang2 == 'en' ? '#0489B1' : 'white', 'height.px' : '65'}">{{ 'principal.textEn' | translate }}</button>
                <span>|</span>
                <button mat-button (click)="cambiarLenguaje('es')" [ngStyle]="{'color': activeLang2 == 'es' ? '#0489B1' : 'white', 'height.px' : 65}">{{ 'principal.textSp' | translate }}</button>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="deviceXs">
            <button mat-button routerLink="/users">{{ 'principal.texto' | translate }}</button>
            <span class="example-spacer"></span>

            <button mat-button (click)="cambiarLenguaje('en')" [ngStyle]="{'color': activeLang2 == 'en' ? '#0489B1' : 'white', 'height.px' : 65}">{{ 'principal.textEn' | translate }}</button>
            <span>|</span>
            <button mat-button (click)="cambiarLenguaje('es')" [ngStyle]="{'color': activeLang2 == 'es' ? '#0489B1' : 'white', 'height.px' : 65}">{{ 'principal.textSp' | translate }}</button>
        </mat-toolbar-row>

    </mat-toolbar>
    <div style="height: 5px; background-color: #0B4092;"></div>
    <div fxFlex="100">
        <router-outlet></router-outlet>
    </div>
</div>